body {
    font-family: Arial, sans-serif;
    background-color: #3b5998;
}

header {
    background-color: #3382d1;
    padding: 20px;
    text-align: center;
}

main {
    margin: 20px;
}

footer {
    background-color: #f8faf8;
    padding: 20px;
    text-align: center;
}